<div class="card promo-section-outer">
    <div class="promo-section-inner">
        <div class="card-body col-md-4">
            <img src="//peterplucinski.com/img/avatar.png" alt="Peter Plucinski">
        </div>
        <div class="card-body col-md-8">
            <h5 class="card-title">About Me</h5>
            <p class="">Peter Plucinski - Developer &amp; Consultant (Melbourne, Australia). Specializing in PHP, Laravel, Vue JS and Python.</p>
            <p class=""><a href="//peterplucinski.com/#contact">Hire me</a></p>
        </div>
    </div>
</div>